@use 'vuetify/settings' as vuetify;
$color-neutral-0: #fff;
$color-neutral-1: #fcfcfc;
$color-neutral-2: #f4f4f4;
$color-neutral-3: #efefef;
$color-neutral-4: #6f767e;
$color-neutral-5: #33383f;
$color-neutral-6: #272b30;
$color-neutral-7: #1a1d1f;
$color-neutral-8: #111315;

$color-primary-1: #2a85ff;
$color-primary-2: #83bf6e;
$color-primary-3: #ff6a55;
$color-primary-4: #8e59ff;

$color-secondary-1: #ffbc99;
$color-secondary-2: #cabdff;
$color-secondary-3: #b1e5fc;
$color-secondary-4: #b5e4ca;
$color-secondary-5: #ffd88d;

// @media (prefers-color-scheme: dark) {
//   $color-neutral-0: #fff;
//   $color-neutral-1: #fcfcfc;
//   $color-neutral-2: #f4f4f4;
//   $color-neutral-3: #efefef;
//   $color-neutral-4: #6f767e;
//   $color-neutral-5: #33383f;
//   $color-neutral-6: #272b30;
//   $color-neutral-7: #1a1d1f;
//   $color-neutral-8: #111315;

//   $color-primary-1: #2a85ff;
//   $color-primary-2: #83bf6e;
//   $color-primary-3: #ff6a55;
//   $color-primary-4: #8e59ff;

//   $color-secondary-1: #ffbc99;
//   $color-secondary-2: #cabdff;
//   $color-secondary-3: #b1e5fc;
//   $color-secondary-4: #b5e4ca;
//   $color-secondary-5: #ffd88d;
// }

// $typo: (
//     h1: #6d79e8,
// );
